<!DOCTYPE html>
<html>
<head>
	<title>index</title>
</head>
<body>
	<p><strong>Request method:</strong> <%= request_method %></p>
	<p><strong>Server port:</strong> <%= server_port %></p>
	<p><strong>Random number:</strong> <%= random_number %></p>
</body>
</html>